asgiref
awsebcli
backports.zoneinfo
botocore
cement
certifi
charset-normalizer
colorama
Django
djangorestframework
elasticsearch
future
idna
jmespath
pathspec
#pypiwin32==223
python-dateutil
pytz
PyYAML
requests
semantic-version
six
sqlparse
termcolor
tzdata
urllib3
wcwidth
