asgiref
async-generator
attrs
Automat
awsebcli
beautifulsoup4
boto3
botocore
cachetools
cement
certifi
cffi
charset-normalizer
colorama
constantly
cryptography
cssselect
distlib
Django
django-autoslug
django-bootstrap-v5
django-cors-headers
django-dotenv
django-environ
django-filter
django-storages
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
# elastic-transport
# elasticsearch==8.3.1
# elasticsearch==7.15.0
# elasticsearch-dsl==7.4.0
elastic-transport==8.1.2
elasticsearch==7.10.0
filelock
future
google-api-core
# google-aws4auth
google-cloud-core
google-cloud-secret-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
gunicorn
h11
hyperlink
idna
incremental
itemadapter
itemloaders
jmespath
lxml
numpy
opensearch-py
outcome
pandas
parsel
pathspec
Pillow
platformdirs
Protego
proto-plus
protobuf
# psycopg2==2.9.3
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
PyDispatcher
PyJWT
pyOpenSSL
# pypiwin32
PySocks
python-dateutil
python-decouple
python-dotenv
pytz
# pywin32==304
PyYAML
queuelib
requests
requests-aws4auth
requests-file
rsa
s3transfer
Scrapy
selenium
semantic-version
service-identity
six
sniffio
sortedcontainers
soupsieve
sqlparse
stripe
termcolor
tldextract
trio
trio-websocket
Twisted
# twisted-iocpsupport==1.0.2
typing-extensions
urllib3
virtualenv
w3lib
wcwidth
webdriver-manager
wsproto
zope.interface
# 