asgiref==3.5.2
boto3==1.24.8
botocore
certifi==2022.5.18.1
Django==3.2.13
djangorestframework==3.13.1
elastic-transport==8.1.2
elasticsearch==7.10.0
jmespath==1.0.0
#psycopg2==2.9.3
python-dateutil==2.8.2
pytz==2022.1
s3transfer==0.6.0
six
sqlparse==0.4.2
typing-extensions==4.2.0
urllib3==1.26.9
